<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab 10</title>
    <link rel="stylesheet" href="/lab10">
</head>

<body>
    <h1>
        <%= data.bookName%>
    </h1>
    <div class="content">
        <table>
            <tr>
                <td>
                    <span>Author: <%= data.authorName%></span>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="<%= data.buyLink%>">Buy on amazon!</a>
                </td>
            </tr>
        </table>
    </div>
</body>

</html>